@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 27% 95%;
    --foreground: 116 44% 15%;
    --card: 120 27% 100%;
    --card-foreground: 116 44% 15%;
    --popover: 120 27% 100%;
    --popover-foreground: 116 44% 15%;
    --primary: 116 44% 34%;
    --primary-foreground: 120 27% 98%;
    --secondary: 120 10% 90%;
    --secondary-foreground: 116 44% 20%;
    --muted: 120 10% 90%;
    --muted-foreground: 116 20% 45%;
    --accent: 30 65% 39%;
    --accent-foreground: 30 65% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 88%;
    --input: 120 10% 88%;
    --ring: 116 44% 34%;
    --chart-1: 116 44% 34%;
    --chart-2: 30 65% 39%;
    --chart-3: 130 40% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 120 27% 99%;
    --sidebar-foreground: 116 44% 15%;
    --sidebar-primary: 116 44% 34%;
    --sidebar-primary-foreground: 120 27% 98%;
    --sidebar-accent: 120 20% 92%;
    --sidebar-accent-foreground: 116 44% 20%;
    --sidebar-border: 120 10% 88%;
    --sidebar-ring: 116 44% 34%;
  }
  .dark {
    --background: 116 20% 8%;
    --foreground: 120 27% 95%;
    --card: 116 20% 10%;
    --card-foreground: 120 27% 95%;
    --popover: 116 20% 8%;
    --popover-foreground: 120 27% 95%;
    --primary: 116 44% 45%;
    --primary-foreground: 120 27% 98%;
    --secondary: 116 20% 15%;
    --secondary-foreground: 120 27% 98%;
    --muted: 116 20% 15%;
    --muted-foreground: 120 10% 65%;
    --accent: 30 65% 50%;
    --accent-foreground: 30 65% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 116 20% 15%;
    --input: 116 20% 15%;
    --ring: 116 44% 45%;
    --chart-1: 116 44% 45%;
    --chart-2: 30 65% 50%;
    --chart-3: 130 40% 60%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;

    --sidebar-background: 116 20% 10%;
    --sidebar-foreground: 120 27% 95%;
    --sidebar-primary: 116 44% 45%;
    --sidebar-primary-foreground: 120 27% 98%;
    --sidebar-accent: 116 20% 15%;
    --sidebar-accent-foreground: 120 27% 98%;
    --sidebar-border: 116 20% 15%;
    --sidebar-ring: 116 44% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
